.App {
  text-align: center;
  text-decoration: none;
  background-color: rgb(48, 48, 48);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.App a {
  text-decoration: none;
}

.title {
  color: white;
  margin: 15px 0px -20px 0px;
}
