.ModularComponent {
  display: flex;
  background-color: white;
  height: 300px;
  width: 700px;
}

.SingleImageBox {
  height: 250px;
  width: 250px;
  background-color: rgb(82, 82, 82);
  display: flex;
  align-items: center;
  justify-content: center;
}

.SingleCocktailImage {
  color: white;
  height: 250px;
  width: 250px;
  align-items: center;
  border: 2px solid black;
}

.SingleAllDrinks {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  text-decoration: none;
}

.SingleDrinkBox {
  color: white;
  border-radius: 0;
  height: 100px;
  margin: 20px 30px 30px 20px;
}

.DrinkDetailsDIV {
  width: 100%;
  margin-top: 30px;
}

.SingleDrinkInformation {
  opacity: 0.8;
  align-items: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  height: 100%;
  padding: 3px 3px 3px 3px;
  margin-bottom: -300px;
  text-align: left;
  line-height: 3px;
}

.SingleCocktailName {
  color: black;
  font-size: 20px;
}

.SingleCocktailServedIn {
  font-style: italic;
  color: rgb(43, 43, 43);
  font-size: 12px;
}

.SingleCocktailInstructions {
  font-size: 12px;
  line-height: 15px;
  font-style: oblique;
  width: 350px;
}

.SingleCocktailTags {
  font-size: 12px;
  font-style: oblique;
  line-height: 5px;
}

.SingleCocktailMeasurements {
  font-size: 12px;
  font-style: oblique;
  line-height: 5px;
}

h4 {
  font-size: 10px;
  line-height: 20px;
}
