.modularComponentBackground {
  background-color: rgba(36, 36, 36, 0.507);
  height: 110vh;
  width: 100vw;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: 150px;
  padding-bottom: 150px;
}

.modularComponent {
  display: flex;
  background-color: white;
  height: 290px;
  width: 650px;
  margin-top: 250px;
  box-shadow: 0px 0px 5px 1px black;
  border: 1px solid black;
  z-index: 5;
}

@-moz-document url-prefix() {
  .modularComponentBackground {
    height: 150vh;
  }
  .modularComponent {
    margin-top: 300px;
  }
}
.singleImageBox {
  height: 250px;
  width: 250px;
  background-color: rgb(82, 82, 82);
  display: flex;
  align-items: center;
  justify-content: center;
}

.singleCocktailImage {
  color: white;
  height: 250px;
  width: 250px;
  align-items: center;
  border: 2px solid black;
  z-index: 10;
}

.singleAllDrinks {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0px;
}

.singleDrinkBox {
  color: white;
  border-radius: 0;
  height: 100px;
  margin: 20px 30px 30px 20px;
}

.drinkDetails {
  width: 300px;
  margin-top: 30px;
}

.singleDrinkInformation {
  opacity: 0.8;
  align-items: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 100%;
  padding: 3px 3px 3px 3px;
  margin-bottom: -300px;
  text-align: left;
  line-height: 3px;
  margin-top: 20px;
}

.singleCocktailName {
  color: black;
  font-size: 20px;
}

.singleCocktailServedIn {
  font-style: italic;
  color: rgb(43, 43, 43);
  font-size: 13px;
}

.singleCocktailInstructions {
  font-size: 9px;
  line-height: 15px;
  font-style: oblique;
  width: 325px;
}

.singleCocktailTags {
  font-size: 12px;
  font-style: oblique;
  line-height: 5px;
}

.singleCocktailMeasurements {
  font-size: 12px;
  font-style: oblique;
  line-height: 20px;
}

.measurements {
  font-size: 10px;
  line-height: 12px;
}

.closeButton {
  position: fixed;
  margin-left: -35px;
  margin-top: -35px;
  padding: 2px;
  color: black;
  z-index: 10;
  background-color: white;
  line-height: 0.1px;
  width: 25px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 0px 0px 1px 1px black;
  z-index: 1000;
}

.closeButtonText {
  margin-top: 12px;
  z-index: 1000;
}

@media only screen and (max-width: 700px) {
  .modularComponent {
    flex-direction: column;
    width: 283px;
    display: flex;
    height: 550px;
    background-color: rgb(255, 240, 240);
  }

  .singleDrinkBox {
    width: 100%;
  }

  .singleImageBox {
    height: 250px;
    width: 250px;
    /* background-color: rgb(82, 82, 82); */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .singleCocktailImage {
    color: white;
    height: 275px;
    width: 283px;
    align-items: center;
    margin-top: -12.5px;
    margin-left: -7px;
    border: 2px solid black;
    z-index: 10;
    border: 0px;
    border-bottom: 4px solid black;
  }

  .drinkDetails {
    margin-top: 250px;
  }

  .singleCocktailInstructions {
    width: 90%;
    margin-left: 15px;
    margin-top: 2px;
    font-size: 10px;
    height: 100px;
  }

  .singleCocktailInstructionsBox {
    min-height: 50px;
    max-height: 200px;
    height: 50px;
    text-overflow: scroll;
    overflow: scroll;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .singleDrinkInformation {
    text-align: center;
    margin-left: 2%;
    margin-top: 0px;
    width: 260px;
    margin-right: 100px;
  }

  .singleCocktailServedIn {
    margin-top: 5px;
  }

  .measurements {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    line-height: 20px;
    margin-left: 25px;
    flex-wrap: wrap;
  }

  .modularComponentBackground {
    margin-top: 70%;
  }

  .singleCocktailMeasurements {
    margin-top: -5px;
    width: 100%;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @media only screen and (max-width: 700px) {
    .singleDrinkInformation {
      text-align: center;
      font-family: Futura;
      margin-left: 2%;
      margin-top: -120px;
      width: 265px;
      margin-right: 100px;
    }

    .measurements {
      width: 220px;
      display: flex;
      margin-left: 0px;
      justify-content: center;
      align-items: center;
      font-size: 9px;
      line-height: 20px;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}

@-moz-document url-prefix() {
  @media only screen and (max-width: 700px) {
    .modularComponent {
      margin-top: 300px;
    }
    .modularComponentBackground {
      height: 200%;
    }
    .singleCocktailImage {
      margin-left: -7px;
      border: 5px solid black;
    }
  }
}

html {
  background-color: rgb(41, 41, 41);
}
